In [6]:
var_1 = 122750
var_2 = 97000
var_3 = 123600
var_4 = -40602.12
var_5 = 3943.16/1000
var_6 = 24397.88

total = (var_1 + var_2 + var_3 + var_4 * var_5)/var_6
total

7.510871620845746

In [4]:
from datetime import datetime

c = datetime.now()
current_hour = c.strftime('%H')
print(current_hour)

00

In [2]:
from datetime import datetime

def get_current_hour():
    now = datetime.now()
    current_hour = now.hour + 1
    return current_hour if current_hour <= 24 else 24

time = get_current_hour()
print(time)

10

In [4]:
from datetime import datetime

# Function to retrieve the current hour in 24-hour format
def get_current_hour():
    now = datetime.now()
    return now.hour  # No need to add 1, just return now.hour for 0-23 format

hour_now = get_current_hour()
print(hour_now)

9

In [7]:
import pandas as pd

def load_data_from_excel():
    # Read the Excel file
    file_path = r"C:\Users\aslee\OneDrive - MORE ELECTRIC AND POWER CORPORATION\Desktop\DASHBOARD_FINAL\station_load_graph.xlsx"
    df = pd.read_excel(file_path, sheet_name='Sheet')
    return df

# Load data
df_excel = load_data_from_excel()
df_excel

,Hour,Lapaz,Jaro,Mandurriao,Molo,Diversion,Mobile SS 1,Mobile SS 2,Megaworld
0,1,17939,4917,7608,0,4973,0,14166,17298
1,2,17143,4706,7225,0,4684,0,13483,16572
2,3,16754,4495,7103,0,4572,0,13102,16007
3,4,16407,4382,6954,0,4351,0,12517,15481
4,5,16127,4318,6806,0,4340,0,12548,15344
5,6,16071,4454,7038,0,4506,0,12287,15403
6,7,15884,4235,7301,0,5449,0,12313,15689
7,8,16885,4196,7715,0,6575,0,12606,16365
8,9,18203,4568,9154,0,8758,0,13687,17765
9,10,19992,4349,13598,0,9945,0,13603,17685
10,11,20411,4655,14434,0,10385,0,14130,19863
11,12,0,3356,0,0,0,0,7880,0

In [ ]:
# Get the current hour
now = datetime.now()
now_hour = now.hour

# Find the row where the hour matches the current hour
matching_row = df_excel[df['Hour'] == now_hour]